@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h3 {
  font-size: 14pt;
}

h1, h2 {
  font-size: 26pt;
}

.tag {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: #F4B942;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #202131;
}

body .container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  color: white;
}

body .container h1 {
  color: white;
}

body .container .section-1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body .container .section-1 h1 {
  font-size: 100pt;
}

body .container .section-1 h2 {
  font-size: 50pt;
}

body .container .section-1 h3 {
  font-size: 19pt;
}

body .container .section-1 .form-control {
  background-color: #202131 !important;
  border: none;
}

body .container .section-1 button {
  background-color: #F4B942;
  color: #202131;
  margin-top: 1em;
  width: 15rem !important;
}

body .container .section-1 button:hover {
  background-color: #F4B942;
  color: #202131 !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 0 0 1em 0.25em #F4B942;
          box-shadow: 0 0 1em 0.25em #F4B942;
}

body::before {
  content: "";
  background-image: url("/assets/images/home-background.jpeg");
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 20%;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -100;
}

.navbar {
  background-color: #202131 !important;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
}

.navbar .navbar-menu .navbar-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 26pt;
  color: #fff;
  display: none;
}

.navbar .navbar-menu .navbar-toggler .toggler-icon {
  width: 30px;
  height: 1px;
  background-color: #F4B942;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .navbar-menu .navbar-toggler .middle-bar {
  margin: 5px auto;
}

.navbar .navbar-menu .navbar-toggler:focus {
  -webkit-box-shadow: 0 1px 10px #F4B942 !important;
          box-shadow: 0 1px 10px #F4B942 !important;
}

.navbar .navbar-menu .navbar-collapse .nav-item {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

.navbar .navbar-menu .navbar-collapse .nav-item-box:hover .nav-link {
  background-color: #F4B942;
  color: #202131 !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 0 0 1em 0.25em #F4B942;
          box-shadow: 0 0 1em 0.25em #F4B942;
}

.navbar .navbar-menu .navbar-collapse .brand {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: center;
}

.navbar .navbar-menu .navbar-collapse .navbar-nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar .navbar-menu .navbar-collapse .navbar-nav .navbar-brand {
  font-family: "Roboto", sans-serif !important;
  font-size: 26pt;
}

.navbar .navbar-menu .navbar-collapse .navbar-nav .nav-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-menu .navbar-collapse .navbar-nav .nav-link,
.navbar .navbar-menu .navbar-collapse .navbar-nav .navbar-brand {
  color: #fff !important;
}

.navbar .navbar-menu .navbar-collapse .navbar-nav .active {
  color: #F4B942 !important;
}

@media screen and (max-width: 990px) {
  .navbar-brand {
    display: none;
  }
  .navbar-title {
    display: block !important;
  }
  .nav-item-box {
    width: 90% !important;
  }
  .section-1 {
    font-size: 20pt;
  }
  .section-1 h1 {
    font-size: 50pt !important;
  }
  .section-1 h2 {
    font-size: 25pt !important;
  }
  .section-1 h3 {
    font-size: 12pt !important;
  }
}
/*# sourceMappingURL=style.css.map */